body{
	background-color: #f5f5f5
}

.admin-ul-buttons{
	height:200px;
	li{
		margin-bottom: 1em;
		a{
			width:180px; 
		}
	}
}

.bold{
	font-weight: 600;
}

.btn-agregar-insupros{
	width:251px;
}

.border-top{
	border-top: 1px solid $colorBlue;
}

.border-bottom{
	border-bottom: 1px solid $colorBlue;
}

.border-right{
	border-right: 1px solid $colorBlue;
}

.border-left{
	border-left: 1px solid $colorBlue;
}
.colorOrange{
	color:$colorOrange;
}
.exitoso{
	color:white;
	margin-top:1em;
	h5{
		color:white;
	}
}
.fixed{
	position:fixed !important;
}

.form-begin-wrapper{
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
	padding:2em !important;
}
.important{
	color:orange;
}

.input-field{
	margin-top: 1.1rem !important;
}
.main-nav{
	background-color: white;
}

.margin-normal{
	margin-top: 1rem;
}
.orange-line{
	border-color:$colorOrange;
}

.relative{
	position:relative;
}

.regular{
	font-weight: 400;
}

.section-main{
	border-top: 1px solid $colorBlue;
	padding-top: 1em;
}

.section-main-app{
	max-width: 80%;
}

.subtitles{
	color:$colorOrange;
	font-size: 1.8em;
}

.title-wrrapper{
	padding-left: 0 !important;
}

.text-init{
	margin-top:6em;
}






