/* Roboto Font */
@font-face {
    font-family:roboto-light;
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Light.ttf);
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Light.woff);
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Light.woff2);
}

@font-face {
    font-family:roboto-regular;
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Regular.ttf);
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Regular.woff);
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Regular.woff2);
}

@font-face {
    font-family:roboto-bold;
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Bold.ttf);
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Bold.woff);
    src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Bold.woff2);
}
/* =============================================================================== */