footer{
	font-size: 1em;
	padding: 0 !important;
	bottom: 0;
	width: 100%;
	background-color: $colorBlue  !important;
}


.wrapper-text-footer{
	padding-top: 10px;
}

.footer-text{
	padding: 0.5em !important; 
}

.footer-copyright{
	height: 40px !important;
}