
.dropdown-content{
	li{
		a{
			font-size: 14px;
		}
		
	}
}

header{
	margin-bottom: 0!important;
}

.nav-main-app{
	background-color: transparent !important;
	padding: 0 0 0 0.5em;
	border-bottom: 1px solid $colorBlue;
	div{
		ul{
			li{
				a{
					color:$colorBlue;
				}
			}
			
		}
		
	}
}


.header-main{
	figure{
		margin:0;
		img{
			width: 300px;
		}
	}

	figure:nth-child(1){
		img{
			margin-top:1em;
		}
	}
}