
.img-users-main{
	border-radius: 100%;
	padding:0;
	margin:0;
	width:40px;
	margin-top: 12px;
}

.post{
	margin: 2em auto 1em auto;
	.post-header-wrapper{
		figure{
			padding:0;
			margin:0;
			.img-users{
				border-radius: 100%;
				padding:0;
				margin:0;
			}
		}
	}
	.post-img-wrapper{
		margin-top: 1em;
		figure{
			margin:0;
			padding: 0 !important;
		}
	}
}

.titles-post{
	text-align: left;
}

.text-content-post{
	text-align: justify;
	font-family: roboto;
	border-bottom: 1px solid $greenDefault;
	padding-bottom: 1em;
}

.username{
	color:$greenDefault;
	font-weight: bold;
}



@media screen and (max-width: 600px){
	.titles-post{
		text-align:center;
	}
}