.pagination{
	li:hover{
		background-color: $colorOrange !important;
		color:white !important;
		a:hover{
			color:white !important;
		}
	}

	.active{
		background-color: transparent !important;
		border: 1px solid $colorOrange;
		color: $colorOrange;
		font-weight: bold;
	}
}