/* Roboto Font */
@font-face {
  font-family: roboto-light;
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Light.ttf);
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Light.woff);
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Light.woff2); }

@font-face {
  font-family: roboto-regular;
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Regular.ttf);
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Regular.woff);
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Regular.woff2); }

@font-face {
  font-family: roboto-bold;
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Bold.ttf);
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Bold.woff);
  src: url(../lib/bower_components/Materialize/dist/font/roboto/Roboto-Bold.woff2); }

/* =============================================================================== */
.dropdown-content li a {
  font-size: 14px; }

header {
  margin-bottom: 0 !important; }

.nav-main-app {
  background-color: transparent !important;
  padding: 0 0 0 0.5em;
  border-bottom: 1px solid #0288d1; }
  .nav-main-app div ul li a {
    color: #0288d1; }

.header-main figure {
  margin: 0; }
  .header-main figure img {
    width: 300px; }

.header-main figure:nth-child(1) img {
  margin-top: 1em; }

.select-custom input {
  margin-left: 3rem !important;
  width: 92% !important;
  width: calc(100% - 3rem) !important; }

body {
  background-color: #f5f5f5; }

.admin-ul-buttons {
  height: 200px; }
  .admin-ul-buttons li {
    margin-bottom: 1em; }
    .admin-ul-buttons li a {
      width: 180px; }

.bold {
  font-weight: 600; }

.btn-agregar-insupros {
  width: 251px; }

.border-top {
  border-top: 1px solid #0288d1; }

.border-bottom {
  border-bottom: 1px solid #0288d1; }

.border-right {
  border-right: 1px solid #0288d1; }

.border-left {
  border-left: 1px solid #0288d1; }

.colorOrange {
  color: orange; }

.exitoso {
  color: white;
  margin-top: 1em; }
  .exitoso h5 {
    color: white; }

.fixed {
  position: fixed !important; }

.form-begin-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 2em !important; }

.important {
  color: orange; }

.input-field {
  margin-top: 1.1rem !important; }

.main-nav {
  background-color: white; }

.margin-normal {
  margin-top: 1rem; }

.orange-line {
  border-color: orange; }

.relative {
  position: relative; }

.regular {
  font-weight: 400; }

.section-main {
  border-top: 1px solid #0288d1;
  padding-top: 1em; }

.section-main-app {
  max-width: 80%; }

.subtitles {
  color: orange;
  font-size: 1.8em; }

.title-wrrapper {
  padding-left: 0 !important; }

.text-init {
  margin-top: 6em; }

.error {
  color: #DD2C00;
  font-size: 1em;
  margin-bottom: 1em; }

.margin-btn-form {
  margin-top: 2.5em; }

.margin-link-form {
  margin-top: 1em; }

.btn-40 {
  width: 150px; }

.figure-logo-main-app {
  display: inline-block;
  margin: 0; }
  .figure-logo-main-app img {
    width: 200px; }

.img-users-main {
  border-radius: 100%;
  padding: 0;
  margin: 0;
  width: 40px;
  margin-top: 12px; }

.post {
  margin: 2em auto 1em auto; }
  .post .post-header-wrapper figure {
    padding: 0;
    margin: 0; }
    .post .post-header-wrapper figure .img-users {
      border-radius: 100%;
      padding: 0;
      margin: 0; }
  .post .post-img-wrapper {
    margin-top: 1em; }
    .post .post-img-wrapper figure {
      margin: 0;
      padding: 0 !important; }

.padding-left-0{
  padding-left:0 !important;
}

.padding-right-0{
  padding-right:0 !important;
}
.titles-post {
  text-align: left; }

.text-content-post {
  text-align: justify;
  font-family: roboto;
  border-bottom: 1px solid #2e7d32;
  padding-bottom: 1em; }

.username {
  color: #2e7d32;
  font-weight: bold; }

@media screen and (max-width: 600px) {
  .titles-post {
    text-align: center; } }

.pagination li:hover {
  background-color: orange !important;
  color: white !important; }
  .pagination li:hover a:hover {
    color: white !important; }

.pagination .active {
  background-color: transparent !important;
  border: 1px solid orange;
  color: orange;
  font-weight: bold; }

footer {
  font-size: 1em;
  padding: 0 !important;
  bottom: 0;
  width: 100%;
  background-color: #0288d1 !important; }

.wrapper-text-footer {
  padding-top: 10px; }

.footer-text {
  padding: 0.5em !important; }

.footer-copyright {
  height: 40px !important; }
